HELP.md
.gradle
build/

### Environment ###
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### env ###
backend/.env
.env.*
.env.local
.env.*.local
!.env.example

### OS ###
.DS_Store

### Local DB ###
*.mv.db
*.trace.db

### Terraform ###
.terraform/
.env
backend/src/main/java/com/back/popspot/loadtest/tokens.json

k6/tokens.json
